body {
    cursor: none;
}

.cursor-dot {
    width: 6px;
    height: 6px;
    background-color: #fbb527;
}

.cursor-outline {
    width: 27px;
    height: 27px;
    border: 2px solid #fbb527;
}

.cursor-dot,
.cursor-outline {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}